{% extends "base.html" %}
{% block title %}Instructions{% endblock %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_instructions.css') }}">
<h1>Instructions</h1>

<div class="instructions">
    <h2>Software Requirements</h2>
    <p>
        For running some of the experiments in this virtual lab on your computer, you need to install the latest version of the 
        Java Development Kit (JDK) and Java Runtime Environment (JRE).
    </p>
    <p>
        In the security tab of the Java Control Panel, you need to add the URL of this site's homepage to resolve security issues. 
        The Java Update plugin should be installed in the folder suggested by your browser.
    </p>
    <p>Users can use the following websites to install the above-mentioned software:</p>
    <ul>
        <li><a href="http://www.oracle.com/technetwork/java/javase/downloads/index-jsp-138363.html"><strong>JDK and JRE</strong></a></li>
        <li><a href="https://www.java.com/en/download/installed.jsp"><strong>Status of the Java version on your computer</strong></a></li>
        <li><a href="https://java.com/en/download/help/enable_browser.xml"><strong>Enable Java on a browser</strong></a></li>
    </ul>
</div>

<div class="communication-portal">
    <h2>Have a Query? Reach Out!</h2>
    <p>Click the button below to post any doubts or queries:</p>
    <a href="https://docs.google.com/forms/d/e/1FAIpQLSeBE6KYlUx9gUnayilq_zebpsRhdg7EDlFu0j2emRJegJHCtQ/viewform" 
       target="_blank" 
       class="portal-button">
       Communication Portal
    </a>
</div>
{% endblock %}
